h2 
	color: $gray
	font-size: 2.2rem
	text-transform: uppercase

h3
	font-size: 1.8rem
	color: $ocean-blue
	margin-bottom: 20px

h4 
	font-size: 15px
	color: $ocean-blue

.first-page-header
	position: relative
	left: -20px
	margin-bottom: 40px
	h2, h3
		display: inline-block
	h3 
		color: $midnight-blue
		font-size: 2.2rem
		&:before
			content: '|'
			padding: 0 10px 0 10px
			display: inline-block
			color: $gray

.second-page-header
	h3 
		display: inline-block
	p
		display: inline-block
		color: $gray
		font-size: 1.2rem			
		margin-left: 10px

.third-page-header
	margin-top: 40px
	h4, p 
		display: inline-block
	p
		font-size: 1.2rem
		color: $midnight-blue
		margin-left: 10px