html
	font-size: 62.5%

body 
	background: #eceded
	font-size: 1.2rem
	font-family: $cabin

.wrapper
	max-width: 1024px
	margin: 0 auto

div[role=main]
	@extend .wrapper
	margin: 40px auto
	position: relative

.main-header
	background: url('../images/fondo_cab.png')
	@extend .wrapper
	nav 
		background: $honey

	h1 
		background: url('../images/logo_cab.png')
		height: 100px
		width: 415px
		text-indent: -9999px
	h2 
		display: none

	nav 
		text-align: right
		li 
			display: inline-block

.section-menu
	width: 65px
	position: absolute
	top: 0
	bottom: 0
	left: 20px
	right: 0
	@media #{$large-screen}
		left: 0	
	li 
		height: 65px
		box-shadow: -4px 4px 5px #ddd
		border: 1px solid #ddd		
		border-right: transparent
		box-sizing: border-box
		text-align: center
		line-height: 65px
		border-top-left-radius: 5px
		border-bottom-left-radius: 5px
		a 
			text-decoration: none
			font-size: 1.2rem
			color: $midnight-blue
		&.active
			background: #fff
			position: relative
			left: -5px
			width: 70px
			a 
				text-transform: uppercase
	&:after
		content: ''
		clear: both
		display: block

.section-content
	// width: 100%
	position: absolute
	top: 0
	left: 85px
	right: 20px
	bottom: 0
	@media #{$large-screen}
		left: 65px

	.content-wrapper
		box-shadow: 2px 2px 5px #ddd
		border: 1px solid #ddd
		box-sizing: border-box
		overflow: hidden
		background: #fff
		padding: 20px 40px
		border-left: transparent
		border-radius: 5px
		border-top-left-radius: 0

	.section-left
		width: 55%
		float: left
		margin-right: 5%

	.section-right
		width: 40%
		float: left

.section-footer
	position: fixed
	bottom: 0
	background: $ocean-blue
	width: 100%
	@extend .wrapper
	left: 0
	right: 0

article
	margin-top: 30px
	&:first-child
		margin-top: 0

// Tables 

table 
	width: 100%
	color: $white
	text-align: center
	thead
		font-size: 1.4rem
		background-color: $midnight-blue
	td, th
		padding: 10px	
	tbody, tfoot
		font-size: 1.2rem
		color: $midnight-blue
	tbody
		tr:nth-child(even)
			background: $bluesky
	tfoot 
		background-color: $honey
		text-transform: uppercase
	td
		span 
			margin-right: 20px
