/* line 1, ../sass/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../sass/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, ../sass/_reset.sass */
body {
  line-height: 1;
  font-family: "Hind", Arial, Helvetica, sans-serif;
}

/* line 29, ../sass/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../sass/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_headings.sass */
h2 {
  color: #b1b3b4;
  font-size: 2.2rem;
  text-transform: uppercase;
}

/* line 6, ../sass/_headings.sass */
h3 {
  font-size: 1.8rem;
  color: #6aa2b8;
  margin-bottom: 20px;
}

/* line 11, ../sass/_headings.sass */
h4 {
  font-size: 15px;
  color: #6aa2b8;
}

/* line 15, ../sass/_headings.sass */
.first-page-header {
  position: relative;
  left: -20px;
  margin-bottom: 40px;
}
/* line 19, ../sass/_headings.sass */
.first-page-header h2, .first-page-header h3 {
  display: inline-block;
}
/* line 21, ../sass/_headings.sass */
.first-page-header h3 {
  color: #2b4755;
  font-size: 2.2rem;
}
/* line 24, ../sass/_headings.sass */
.first-page-header h3:before {
  content: "|";
  padding: 0 10px 0 10px;
  display: inline-block;
  color: #b1b3b4;
}

/* line 31, ../sass/_headings.sass */
.second-page-header h3 {
  display: inline-block;
}
/* line 33, ../sass/_headings.sass */
.second-page-header p {
  display: inline-block;
  color: #b1b3b4;
  font-size: 1.2rem;
  margin-left: 10px;
}

/* line 39, ../sass/_headings.sass */
.third-page-header {
  margin-top: 40px;
}
/* line 41, ../sass/_headings.sass */
.third-page-header h4, .third-page-header p {
  display: inline-block;
}
/* line 43, ../sass/_headings.sass */
.third-page-header p {
  font-size: 1.2rem;
  color: #2b4755;
  margin-left: 10px;
}

/* line 1, ../sass/_layout.sass */
html {
  font-size: 62.5%;
}

/* line 4, ../sass/_layout.sass */
body {
  background: #eceded;
  font-size: 1.2rem;
  font-family: "Cabin", sans-serif;
}

/* line 9, ../sass/_layout.sass */
.wrapper, div[role=main], .main-header, .section-footer {
  max-width: 1024px;
  margin: 0 auto;
}

/* line 13, ../sass/_layout.sass */
div[role=main] {
  margin: 40px auto;
  position: relative;
}

/* line 18, ../sass/_layout.sass */
.main-header {
  background: url("../images/fondo_cab.png");
}
/* line 21, ../sass/_layout.sass */
.main-header nav {
  background: #ffb400;
}
/* line 24, ../sass/_layout.sass */
.main-header h1 {
  background: url("../images/logo_cab.png");
  height: 100px;
  width: 415px;
  text-indent: -9999px;
}
/* line 29, ../sass/_layout.sass */
.main-header h2 {
  display: none;
}
/* line 32, ../sass/_layout.sass */
.main-header nav {
  text-align: right;
}
/* line 34, ../sass/_layout.sass */
.main-header nav li {
  display: inline-block;
}

/* line 37, ../sass/_layout.sass */
.section-menu {
  width: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 0;
}
@media all and (min-width: 10.4in) {
  /* line 37, ../sass/_layout.sass */
  .section-menu {
    left: 0;
  }
}
/* line 46, ../sass/_layout.sass */
.section-menu li {
  height: 65px;
  box-shadow: -4px 4px 5px #ddd;
  border: 1px solid #ddd;
  border-right: transparent;
  box-sizing: border-box;
  text-align: center;
  line-height: 65px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 56, ../sass/_layout.sass */
.section-menu li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #2b4755;
}
/* line 60, ../sass/_layout.sass */
.section-menu li.active {
  background: #fff;
  position: relative;
  left: -5px;
  width: 70px;
}
/* line 65, ../sass/_layout.sass */
.section-menu li.active a {
  text-transform: uppercase;
}
/* line 67, ../sass/_layout.sass */
.section-menu:after {
  content: "";
  clear: both;
  display: block;
}

/* line 72, ../sass/_layout.sass */
.section-content {
  position: absolute;
  top: 0;
  left: 85px;
  right: 20px;
  bottom: 0;
}
@media all and (min-width: 10.4in) {
  /* line 72, ../sass/_layout.sass */
  .section-content {
    left: 65px;
  }
}
/* line 82, ../sass/_layout.sass */
.section-content .content-wrapper {
  box-shadow: 2px 2px 5px #ddd;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  padding: 20px 40px;
  border-left: transparent;
  border-radius: 5px;
  border-top-left-radius: 0;
}
/* line 93, ../sass/_layout.sass */
.section-content .section-left {
  width: 55%;
  float: left;
  margin-right: 5%;
}
/* line 98, ../sass/_layout.sass */
.section-content .section-right {
  width: 40%;
  float: left;
}

/* line 102, ../sass/_layout.sass */
.section-footer {
  position: fixed;
  bottom: 0;
  background: #6aa2b8;
  width: 100%;
  left: 0;
  right: 0;
}

/* line 111, ../sass/_layout.sass */
article {
  margin-top: 30px;
}
/* line 113, ../sass/_layout.sass */
article:first-child {
  margin-top: 0;
}

/* line 118, ../sass/_layout.sass */
table {
  width: 100%;
  color: #fff;
  text-align: center;
}
/* line 122, ../sass/_layout.sass */
table thead {
  font-size: 1.4rem;
  background-color: #2b4755;
}
/* line 125, ../sass/_layout.sass */
table td, table th {
  padding: 10px;
}
/* line 127, ../sass/_layout.sass */
table tbody, table tfoot {
  font-size: 1.2rem;
  color: #2b4755;
}
/* line 131, ../sass/_layout.sass */
table tbody tr:nth-child(even) {
  background: #d8ecf0;
}
/* line 133, ../sass/_layout.sass */
table tfoot {
  background-color: #ffb400;
  text-transform: uppercase;
}
/* line 137, ../sass/_layout.sass */
table td span {
  margin-right: 20px;
}
